name: Ubuntu Setup

on:
  push:
    workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Download ngrok
        run: wget https://bin.equinox.io/c/bNyj1mQVY4c/ngrok-stable-linux-amd64.zip -O ngrok.zip
      - name: Extract ngrok
        run: unzip ngrok.zip
      - name: Authenticate ngrok
        run: ./ngrok authtoken $NGROK_AUTH_TOKEN
        env:
          NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
      - name: Install XRDP and Xfce desktop environment
        run: |
          sudo apt-get update
          sudo apt-get install -y xrdp xfce4 xfce4-goodies xfconf
      - name: Enable XRDP
        run: sudo systemctl enable --now xrdp
      - name: Configure XRDP to use Xfce
        run: |
          echo xfce4-session > ~/.xsession
          echo "xfce4-session" | sudo tee /etc/skel/.xsession
      - name: Restart XRDP service
        run: sudo systemctl restart xrdp
      - name: Check XRDP Status
        run: sudo systemctl status xrdp
      - name: Check XRDP Logs
        run: |
          sudo tail -n 50 /var/log/xrdp.log
          sudo tail -n 50 /var/log/xrdp-sesman.log
      - name: Create user
        run: |
          if id "runneradmin" &>/dev/null; then
            echo "User already exists"
          else
            sudo useradd -m -s /bin/bash -p $(openssl passwd -1 "P@ssw0rd!") runneradmin
          fi
      - name: Set XRDP Password
        run: |
          echo "runneradmin:P@ssw0rd!" | sudo chpasswd
      - name: Create Tunnel
        run: ./ngrok tcp 3389
