name: Ubuntu Setup

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Download ngrok
      run: wget https://bin.equinox.io/c/bNyj1mQVY4c/ngrok-stable-linux-amd64.zip -O ngrok.zip
    - name: Extract ngrok
      run: unzip ngrok.zip
    - name: Authenticate ngrok
      run: ./ngrok authtoken $NGROK_AUTH_TOKEN
      env:
        NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
    - name: Install XRDP
      run: sudo apt-get update && sudo apt-get install -y xrdp
    - name: Enable XRDP
      run: sudo systemctl enable --now xrdp
    - name: Create user
      run: |
        if id "runneradmin" &>/dev/null; then
          echo "User already exists"
        else
          sudo useradd -m -s /bin/bash -p $(openssl passwd -1 "P@ssw0rd!") runneradmin
        fi
    - name: Allow passwordless sudo for user
      run: |
        echo "runneradmin ALL=(ALL) NOPASSWD:ALL" | sudo tee -a /etc/sudoers
    - name: Create Tunnel
      run: ./ngrok tcp 3389
