name: Ubuntu Tunnel

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y ngrok

    - name: Auth
      run: ngrok authtoken ${{ secrets.NGROK_AUTH_TOKEN }}
      env:
        NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}

    - name: Enable VNC Server
      run: |
        sudo apt-get install -y tightvncserver
        tightvncserver :1

    - name: Create Tunnel
      run: ngrok tcp 5901 &

    - name: Keep Alive
      run: while true; do sleep 30; done
