name: Create Pinggy Tunnel

on: [push, workflow_dispatch]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Download Pinggy CLI
      run: Invoke-WebRequest https://s3.ap-south-1.amazonaws.com/public.pinggy.binaries/v0.1.0-beta.1/windows/arm64/pinggy.exe -OutFile pinggy.exe
    - name: Run Local Service
      run: python3 -m http.server
    - name: Create Tunnel
      run: .\pinggy.exe tunnel 8000 --auth-token ${{ secrets.pinggy_auth_token }}
      env:
        PINGGY_AUTH_TOKEN: ${{ secrets.pinggy_auth_token }}
