name: Setup SSH Tunnel

on: [push, workflow_dispatch]

jobs:
  setup_ssh:
    runs-on: ubuntu-latest

    steps:
    - name: Install ngrok
      run: |
        wget -q https://bin.equinox.io/c/bNyj1mQVY4c/ngrok-v3-stable-linux-amd64.zip
        unzip ngrok-v3-stable-linux-amd64.zip
        sudo mv ngrok /usr/local/bin

    - name: Setup Authentication
      run: ngrok authtoken ${{ secrets.NGROK_AUTH_TOKEN }}

    - name: Install SSH Server
      run: |
        sudo apt-get update
        sudo apt-get install -y openssh-server

    - name: Configure SSH
      run: |
        sudo sed -i 's/#PasswordAuthentication yes/PasswordAuthentication yes/' /etc/ssh/sshd_config
        echo "runneradmin:P@ssw0rd!" | sudo chpasswd

    - name: Start SSH Service
      run: |
        sudo service ssh restart

    - name: Create ngrok Tunnel
      run: ngrok tcp 22 &
