name: Cl

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Fetch latest LocalXpose release
      id: loclx_release
      run: |
        $release_url = "https://localxpose.io/downloads"
        $response = Invoke-WebRequest -Uri $release_url
        $download_url = $response.Links | Where-Object { $_.href -like "*loclx-windows-amd64.zip*" } | Select-Object -First 1 -ExpandProperty "href"
        Write-Output "::set-output name=download_url::$download_url"
    - name: Download LocalXpose
      run: Invoke-WebRequest ${{ steps.loclx_release.outputs.download_url }} -OutFile loclx.zip
    - name: Extract LocalXpose
      run: Expand-Archive loclx.zip
    - name: Add LocalXpose to PATH
      run: |
        [System.Environment]::SetEnvironmentVariable('PATH', $env:PATH + ';' + $PWD + '\loclx', [System.EnvironmentVariableTarget]::Machine)
    - name: Auth LocalXpose
      run: .\loclx\loclx.exe tunnel login ${{ secrets.LOCLX_API_TOKEN }}
    - name: Enable TS
      run: Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server'-name "fDenyTSConnections" -Value 0
    - run: Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
    - run: Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1
    - run: Set-LocalUser -Name "runneradmin" -Password (ConvertTo-SecureString -AsPlainText "P@ssw0rd!" -Force)
    - name: Create Tunnel
      run: .\loclx\loclx.exe tunnel create --type tcp --region us --to localhost:3389
