name: CI

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Enable TS
        run: |
          sudo systemctl start xrdp
          sudo systemctl enable xrdp
      - name: Install SSH Client
        run: sudo apt-get update && sudo apt-get install -y openssh-client
      - name: Start Localhost.run tunnel
        env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        run: |
          ssh -o "StrictHostKeyChecking no" -R 80:localhost:3389 -S $SSH_AUTH_SOCK -O forward ssh.localhost.run -N
